<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="kr.or.ddit.user.model.ManagerVo" alias="ManagerVo"/>
		<typeAlias type="kr.or.ddit.user.model.UserVo" alias="UserVo"/>
		<typeAlias type="kr.or.ddit.notice.model.NoticeFileVo" alias="NoticeFileVo"/>
		<typeAlias type="kr.or.ddit.notice.model.NoticeGubunVo" alias="NoticeGubunVo"/>
		<typeAlias type="kr.or.ddit.notice.model.NoticeVo" alias="NoticeVo"/>
		<typeAlias type="kr.or.ddit.notice.model.ReplyVo" alias="ReplyVo"/>
	</typeAliases>
	
  <mappers>
    <mapper resource="kr/or/ddit/db/mapper/notice.xml"/>
    <mapper resource="kr/or/ddit/db/mapper/user.xml"/>
  </mappers>
</configuration>